ul{
    margin-left: 110px;
}
.fu{
    font-weight: bold;
}
h2{
    font-weight: bold;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#fg{
    font-weight: bold;
}
body{
    background-color: salmon;
}
.jk{
    color: red;
}   
#wr{
    color: white;
} 

